/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.dataConfigContainer {
  height: 1242px;
  overflow: auto;
}

.explorerViz__commonPanel {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-area: workspace;
  background-color: #FFF;
  height: 100%;
}
