/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.lnsAppWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.lnsApp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.lnsApp__header {
  border-bottom: $euiBorderThin;
}

.lnsApp__frame {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dataConfigContainer {
  height: 1242px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
}

.euiResizableToggleButton:not(:focus):not(:active):not(.euiResizableToggleButton-isVisible):not(.euiResizableToggleButton-isCollapsed) {
  height: 24px;
  width: 24px;
  top: 0;
  left: inherit;
  box-shadow: none;
}

.lensChartIcon__subdued {
  fill: $euiTextSubduedColor;

  // Not great, but the easiest way to fix the gray fill when stuck in a button with a fill
  // Like when selected in a button group
  .euiButton--fill & {
    fill: currentColor;
  }
}

.lensChartIcon__accent {
  fill: $euiColorVis0;
}
