/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.resolutionSelect {
    .euiFormControlLayout {
        .euiFormControlLayout {
            width: 116px;
        }
    }
}

.resolutionSelectText {
    width: 70px;
}

.search-bar-top-menu{
   width:25vw;
}