# This should match the owning team set up in https://github.com/orgs/opensearch-project/teams
*   @pjfitzgibbons @anirudha @nknize @ps48 @kavithacm @derek-ho @joshuali925 @zhongnansu @dai-chen @sejli @YANG-DB @davidcui1225 @rupal-bq @CEHENKLE @mengweieric @eugenesk24 @vamsi-amazon @kavck