.explorer__vizDataConfig {
  @include euiYScrollWithShadows;

  background: $euiColorLightestShade;
  border-left: $euiBorderThin;
  border-right: $euiBorderThin;
  position: relative;

  &__section {
    width: 100%;
    transition: transform $euiAnimSpeedNormal 0s $euiAnimSlightResistance;
  }

  &__title {
    padding: $euiSizeS;
    padding-bottom: 0;

    &.showDivider {
      border-bottom: 1px solid $euiColorLightShade;
    }
  }

  &__content {
    padding: $euiSizeS;
  }

  &__aggEditor {
    padding: 0 $euiSizeM;
  }

  &--secondary {
    position: absolute;
    top: 0;
    left: 100%;
  }

  &.showSecondary > .wizConfig__section {
    transform: translateX(-100%);
  }
}