/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.euiConfigPanel {
  display: flex;
  flex-direction: column;
}

.euiScrollSection {
  @include euiYScrollWithShadows;

  position: relative;
  max-height: 300px;
  overflow-y: auto;

  &__section {
    width: 100%;
    transition: transform $euiAnimSpeedNormal 0s $euiAnimSlightResistance;
  }

  &__title {
    padding: $euiSizeS;
    padding-bottom: 0;

    &.showDivider {
      border-bottom: 1px solid $euiColorLightShade;
    }
  }

  &__content {
    padding: $euiSizeS;
  }

  &__aggEditor {
    padding: 0 $euiSizeM;
  }

  &--secondary {
    position: absolute;
    top: 0;
    left: 100%;
  }

  &.showSecondary > .wizConfig__section {
    transform: translateX(-100%);
  }
}
