/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.event-home {
  float: left;
  width: 100%;
  max-width: 1130px;
  #autocomplete-textarea {
    min-height: 80px;
  }
}

#home-his-title {
  padding-left: 10px;
}