.queryTabs {
  .euiTabs {
    .linkNewTag{
      display: inline-block;
      text-align: center;
      font-size: 0.75rem;
      line-height: 3.5;
      padding: 0.5rem;
    }
  }
}

.tab-title {
  display: inline-block;
  margin-right: 5px;
}