/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.globalQueryBar {
  margin: .5rem 0;
  padding: .5rem;
}
.aa-Autocomplete {
  width: 100%;
  position: relative;
  margin: 4px;
  margin-left: 8px;
  --aa-search-input-height: 38px;
  --aa-panel-border-color-rgb: rgba(227,230,238,255);
  --aa-input-background-color-rbg: rgba(250,251,253,255);
}
.styling {
  font-weight: bold;
}

#autocomplete-textarea {
  width: 100%;
  outline: none;
  min-height: 45px;
  max-width: unset;
  height: 45px;
  resize: vertical;
  font-size: 16px;
  padding-right: 40px;
}
.aa-Panel {
  width: 100%;
  z-index: 2500;
}

.event-date-picker {
  max-width: 35vw;
}

.ppl-link {
  border: unset;
  position: absolute;
  top: 10px;
  left: 73.4%;
  background-color: transparent;
  padding: 12px;
}
.ppl-link-light {
  color: #006BB4;
}

.ppl-link-dark {
  color: #1BA9F5;
}
