/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.visualization-div-preview {
  min-height: 50vh;
}

.visualization-loading-chart-preview {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.visualization-error-div-preview {
  overflow: scroll;
}

.date-picker-preview {
  height: 3vh;
  max-width: 500px;
}
