/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

@import '../../../node_modules/vis-network/dist/dist/vis-network.min.css';

.overview-title {
  color: '#333333';
  font-weight: 370;
}

.overview-content {
  font-weight: 430;
}

.panel-title {
  color: '#3f3f3f';
  font-weight: 500;
}

.panel-title-count {
  color: '#8a9596';
  font-weight: 300;
}

div.vis-network > div.vis-tooltip {
  color: #f4f5f5;
  background-color: #3d4652;
  opacity: 0.9;
  padding: 5px;
  font-size: small;
  p {
    padding: 5px;
  }
}

th[data-test-subj^='tableHeaderCell_dashboard_trace_group_name'],
th[data-test-subj^='tableHeaderCell_dashboard_latency_variance'],
th[data-test-subj^='tableHeaderCell_dashboard_average_latency'],
th[data-test-subj^='tableHeaderCell_dashboard_error_rate'],
th[data-test-subj^='tableHeaderCell_dashboard_traces'] {
  svg[aria-label^="Sorted in"] {
    margin-top: -20px;
  }
}

th[data-test-subj^='tableHeaderCell_dashboard_latency_variance'] {
  svg[aria-label^="Sorted in"] {
    margin-left: -16px;
    position: relative;
    left: 10px;
  }
}