/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

 .lnsChart__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1180px;
  font-size: 20px;
}
