.overview-title {
  color: '#333333';
  font-weight: 370;
}

.overview-content {
  font-weight: 430;
}

.panel-title {
  color: '#3f3f3f';
  font-weight: 500;
}

.panel-title-count {
  color: '#8a9596';
  font-weight: 300;
}