/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.mouseGrabber {
  & :hover {
    cursor: -webkit-grab;
    cursor: grab;
  }
  & :active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
}

.visualization-div {
  width: 100%;
  height: 90%;
  overflow: auto;
  text-align: center;
}

%center-div {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.visualization-loading-chart {
  margin: 0;
  position: absolute;
  @extend %center-div;
}

.visualization-error-div {
  overflow: auto;
  position: relative;
  @extend %center-div;
}

.panel-full-width {
  width: 100%;
  height: 100%;
}

.panels-title-text {
  @include euiTextTruncate;
}
