/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.empty-view-metrics {
    min-height: 70vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.align-center-view {
    text-align: center
}