/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
}

th {
  width: 30%;
}

tr:hover {
  background-color: #ddd;
}

.logs-view-container {
  font-size: 16px;
}
