/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

 #panelView {
  .ppl-link {
    top: 118px;
    right: 644px;
  }
 }
 
 #panelViewInApp {
  .ppl-link {
    position: relative;
    top: -35px;
    left: 1386px;
  }
 }
 