/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.selected-event-row {
  background-color: rgba(5, 143, 244, 0.1);
}

.doc-flyout table {
  width: 100%;
  display: inline-block;
  overflow-x: scroll;
}

.doc-flyout td.eui-textNoWrap {
  padding-top: 1.25vh;
}

.doc-flyout td {
  vertical-align: top;
  padding: 0.5vh;
}

.compare-checkbox {
  padding: 8px;
}

.cnt-picker {
  width: 80px;
  text-align: center;
}

.events-flyout-resize {
  z-index: 3;
}

.vertical-center {
  margin-top: auto;
}

.trace-link {
  margin-left: 5px;
}
