/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

 .ppl-link {
  border: unset;
  position: absolute;
  top: 103px;
  right: 140px;
  background-color: transparent;
}
.ppl-link-light {
  color: #006BB4;
}

.ppl-link-dark {
  color: #1BA9F5;
}
