/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

#logSource .ppl-link {
  top: 103px;
  right: 140px;
}
.ppl-link-light {
  color: #006BB4;
}

.ppl-link-dark {
  color: #1BA9F5;
}
